<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="todoWindow">
       <div class="form">
            <input type="text" id="task" class="input" maxlength="25" placeholder="Enter the task">
            <input id="addTask" type="submit" value="Add Task">
       </div> 
        <ul class="list">
        </ul>
    </div>
    <script type="module" src="./js/app.js"></script>
    <script type="module" src="./js/functions.js"></script>

</body>
</html>